[submodule "rocksdb_sys/rocksdb"]
	path = librocksdb-sys/rocksdb
	url = https://git.nextgraph.org/NextGraph/rocksdb.git
[submodule "librocksdb-sys/lz4"]
	path = librocksdb-sys/lz4
	url = https://github.com/lz4/lz4.git
